.socialMedia {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.socialMedia h2 {
  color: var(--secondary-color);
  margin: 0;
  font-size: 1rem;
}

.socialMedia .icons {
  display: flex;
  justify-content: space-around;
  margin: 16px;
}

@media (max-width: 40rem) {
  .socialMedia .icons {
    width: 30%;
    margin: 10px auto;
  }
}
